.home{
    width:100%;
    height:100%;
    overflow-x:hidden;
    background-color: black;
}
.header{
    padding:13px 70px 36px 70px;
}
.to-do-text{
    float: left;
    font-size:35px;
    color:gold;
}
.button-add{
    float: right;
    padding: 0px 20px;
    border-radius: 4px;
    background-color: #707070;
    color: white;
    font-size: 30px;
    border: #707070;
}
.form{
    display:inline;
}
hr {
    clear: both;
    background-color: #404040;
}
.input-text{
    background-color:#ffffff;
    padding: 15px 130px;
    width:100%;
}
.taskList{
    margin: 10px 50px;
    font-size: 18px;
}
.theList{
    color:#ffffff;
    margin: 10px 0px;
    text-align: left;
}